<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/sign_up.css"> <!-- Link to your CSS file -->
</head>
<body>
  <form action="/Admin/Add-Employee/submit" method="post" class="employee-form">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br><br>
  
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>
  
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>
  
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>
  
    <input type="submit" value="Submit">
  </form>
</body>
</html>
